.main-nav,
.secondary-nav {
  background: #fefefe;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.main-nav div,
.secondary-nav div {
  text-align: center;
}
.main-nav .left-navigation ul,
.main-nav .right-navigation ul,
.main-nav .site-logo ul,
.main-nav .drop-down ul,
.main-nav .home ul,
.secondary-nav .left-navigation ul,
.secondary-nav .right-navigation ul,
.secondary-nav .site-logo ul,
.secondary-nav .drop-down ul,
.secondary-nav .home ul {
  list-style: none;
}
.main-nav .left-navigation ul li,
.main-nav .right-navigation ul li,
.main-nav .site-logo ul li,
.main-nav .drop-down ul li,
.main-nav .home ul li,
.secondary-nav .left-navigation ul li,
.secondary-nav .right-navigation ul li,
.secondary-nav .site-logo ul li,
.secondary-nav .drop-down ul li,
.secondary-nav .home ul li {
  display: inline-block;
  padding: 16px 14px;
}
.main-nav .left-navigation ul li a,
.main-nav .right-navigation ul li a,
.main-nav .site-logo ul li a,
.main-nav .drop-down ul li a,
.main-nav .home ul li a,
.secondary-nav .left-navigation ul li a,
.secondary-nav .right-navigation ul li a,
.secondary-nav .site-logo ul li a,
.secondary-nav .drop-down ul li a,
.secondary-nav .home ul li a {
  text-decoration: none;
  color: #333;
}
.main-nav .left-navigation ul li:hover,
.main-nav .right-navigation ul li:hover,
.main-nav .site-logo ul li:hover,
.main-nav .drop-down ul li:hover,
.main-nav .home ul li:hover,
.secondary-nav .left-navigation ul li:hover,
.secondary-nav .right-navigation ul li:hover,
.secondary-nav .site-logo ul li:hover,
.secondary-nav .drop-down ul li:hover,
.secondary-nav .home ul li:hover {
  background: #fde60d;
}
.main-nav .left-navigation ul li:hover a,
.main-nav .right-navigation ul li:hover a,
.main-nav .site-logo ul li:hover a,
.main-nav .drop-down ul li:hover a,
.main-nav .home ul li:hover a,
.secondary-nav .left-navigation ul li:hover a,
.secondary-nav .right-navigation ul li:hover a,
.secondary-nav .site-logo ul li:hover a,
.secondary-nav .drop-down ul li:hover a,
.secondary-nav .home ul li:hover a {
  color: #fff;
}

.social-media {
  position: fixed;
  top: 35%;
}
.social-media ul {
  list-style: none;
}
.social-media ul li {
  padding: 16px 14px;
}
.social-media ul li a {
  text-decoration: none;
  color: #fde60d;
}

.drop-down-data {
  display: none;
  background: #6c757d;
  text-align: center;
}
.drop-down-data ul {
  list-style: none;
}
.drop-down-data ul li {
  padding: 16px 14px;
}
.drop-down-data ul li a {
  text-decoration: none;
  color: #fefefe;
}

.show {
  display: block;
}

.home-page {
  height: 80vh;
}

.products-page .title {
  opacity: 0.8;
}
.products-page .details {
  display: none;
}
.products-page .row .col a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
.products-page .row .col .card {
  border: none;
  opacity: 0.8;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.products-page .row .col .card .card-body i {
  font-size: 2rem;
}
.products-page .row .card:hover {
  background: #333;
  color: #fff;
}
.products-page #soft,
.products-page #mob,
.products-page #web {
  display: none;
}
.products-page #soft,
.products-page #mob,
.products-page #web {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.products-page #soft .card,
.products-page #mob .card,
.products-page #web .card {
  border: none;
}

.services {
  background: #fefefe;
}
.services .title {
  opacity: 0.8;
}
.services .card {
  border: none;
}
.services .seo {
  height: vh;
}

.contact {
  background: #797d81;
}
.contact .content .col .card {
  border: none;
  background: #797d81;
  color: #fff;
}
.contact .content i {
  font-size: 72px;
}

.footer .content .site-logo {
  background: #fde60d;
}
.footer .content .social-icons {
  list-style: none;
}
.footer .content .social-icons li {
  display: inline-block;
}
.footer .content .social-icons li a {
  color: #fde60d;
}/*# sourceMappingURL=main.css.map */