html{
    overflow-x:hidden
}

.main-nav, 
.secondary-nav{
    background: #fefefe;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    div{
        width: 33.3%;
        text-align: center;
    }
    .left-navigation,
    .right-navigation,
    .site-logo,
    .drop-down,
    .home{
        ul{
            margin-top:2px ;
            list-style: none;
            li{
                display: inline-block;
                padding: 16px 14px;
            }
            li a{
                text-decoration: none;
                font-weight: 500;
                text-transform: lowercase;
                color:#333;
            }
            li:hover{
                background: #fde60d;
                a{
                    color:#fff;
                }
            }
        }
    }
}

.social-media{
    position: fixed;
    top: 35%;
    ul{
        list-style: none;
        li{
            padding: 16px 14px;
        }
        li a{
            text-decoration: none;
            color: #fde60d;;
        }
    }
}
.drop-down-data{
    display: none;
    background: #6c757d;
    text-align: center;
    ul{
        list-style: none;
        li{
            padding: 10px 10px;
        }
        li a{
            text-decoration: none;
            color:#fefefe;
        }
    }
}
.show{
    display: block;
}
.home-page{
    height: 80vh;
    // width: 100%;
    .btn{
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    }
}
.products-page{
    .title{
        opacity: 0.8;
    }
    .details{
        display: none;
    }
    .row{
        .col{
            a{
                text-decoration: none;
                color: #333;
                cursor: pointer;
            }
            .card{
                border: none;
                opacity: 0.8;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
                .card-body{
                    i{
                        font-size: 2rem;
                    }
                }
            }
        }
        .card:hover{
            background: #333;
            color:#fff;
        }
    }
    #soft,
    #mob,
    #web{
        display: none;
    }
    #soft,
    #mob,
    #web{
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        .card{
            border: none;
        }
    }
}
.services{
    background: #fefefe;
    .title{
        opacity: 0.8;
    }
    .card{
        border: none; 
    }
    .seo{
        height: vh;
    }
}
.contact{
    background: #797d81;
    .content{
        .col{
            .card{
                border: none;
                background: #797d81;
                color:#fff;
            }
        }
        i{
            font-size: 72px;
        }
    }
}
.footer{
    .content{
        .site-logo{
            background: #fde60d;
        }
        .social-icons{
            list-style: none;
            li{
                display: inline-block;
                a{
                    color: #fde60d;
                }
            }
        }
    }
}
.mod {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x:hidden;
    gap: 0.4rem;
    width: 89%;
    padding: 1.3rem;
    /* min-height: 250px; */
    position: absolute;
    top: 20%;
    // background-color: white;
    .content{
        border: 1px solid #ddd;
        border-radius: 15px;
        label{
            padding-top: 5px;
        }
      }
  }
 
.hidden{
    display: none;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
    
  }